div(class=['ui', 'pointing', 'menu'])
  a(class='item' href='http://localhost:3000/')= 'Inicio '
  a(class='item' href='http://localhost:3000/nuevo')= 'Instrumento'
  a(class='item' href='http://localhost:3000/instrumento')= 'Ver Instrumento'
  a(class='item' href='http://localhost:3000/buscarInstrumento')= 'Buscar Instrumento'
  a(class='item' href='http://localhost:3000/usuario')= 'Ver Usuarios'
  a(class='item' href='http://localhost:3000/nuevoReserva')= 'Reserva'
  a(class='item' href='http://localhost:3000/reserva')= 'Ver Reserva'
  div(class=['right', 'menu'])
    a(class='item' href='http://localhost:3000/login')= 'Cerrar Sesion'