extends ../default

block content
  include ../templates/nav

  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])
      h1(class=['ui','header','blue', 'dividing'])= 'Lista de instrumentos'

      table(class=['ui', 'table', 'celled'] id='tbl-instrumento')
        thead
          tr
            th= 'Cod Referencia'
            th= 'Nombre'
            th= 'Descripcion'
            th= 'Tipo'
            th= 'Estado'
            th= 'Acciones'
        tbody
          each instrumentos in instrumento
            tr
              td(id='identificador')= instrumentos.ID_INSTRUMENTO
              td= instrumentos.NOMBRE_INSTRUMENTO
              td= instrumentos.DESCRIPCION
              td= instrumentos.TIPO
              td= instrumentos.ESTADO
              td
                a(class=['ui button basic icon'] href='#' data-tooltip='Eliminar' data-position = 'top center' id='btn-eliminar')
                  i(class=['trash icon'])

                a(class=['ui button basic icon'] href='http://localhost:3000/modificar/'+instrumentos.ID_INSTRUMENTO data-tooltip='Modificar' data-position = 'top center')
                  i(class=['edit icon'])

  script(src='/javascripts/instrumentos.js')
