extends ../default

block content
  include ../templates/nav

  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])
      h1(class=['ui','header','blue', 'dividing'])= 'Crear instrumento o Sala'

      div(class='form-nuevoinstrumento')
        form(class=['ui', 'form'] action='http://localhost:3000/crearinstrumento' method='post')
          div(class=['ui', 'field'])
            label(for='nombre')= 'Nombre Instrumento o Sala'
            input(type= 'text' name='nombre' placeholder='Nombre')

          div(class=['ui', 'field'])
            label(for='descripcion')= 'Descripción'
            input(type= 'text' name='descripcion' placeholder='Descripción')

          div(class=['ui', 'field'])
              label(for='estado')= 'Estado'
              input(type= 'text' name='estado' placeholder='Estado')

          div(class=['ui', 'field'])
              label(for='referencia')= 'Referencia'
              input(type= 'text' name='referencia' placeholder='Referencia')
          
          div(class=['ui', 'field'])
              label(for='tipo')= 'Tipo'
              input(type= 'text' name='tipo' placeholder='Tipo')

          button(class=['ui', 'button', 'basic', 'black'])= 'Crear Instrumento'
          div(class=['ui', 'message', 'error'])

      if info != undefined
        div(class=['ui', 'message', 'success'])
          i(class=['close', 'icon'])
          div(class='header')='Producto registrado'
          p= info

  script(src='/javascripts/validacion.js')