extends ../default

block content
  include ../templates/nav

  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])
      h1(class=['ui','header','blue', 'dividing'])= 'Crear Reserva'

      div(class='form-nuevoreserva')
        form(class=['ui', 'form'] action='http://localhost:3000/crearreserva' method='post')
          div(class=['ui', 'field'])
            label(for='cedula')= 'Cédula Usuario'
            input(type= 'text' name='cedula' placeholder='Cédula Usuario')
          div(class=['ui', 'field'])
            label(for='referencia')= 'Codigo instrumento'
            input(type= 'text' name='referencia' placeholder='Codigo instrumento')
          div(class=['ui', 'field'])
              label(for='fecha')= 'Fecha'
              input(type= 'date' name='fecha' id='datepicker' placeholder='Fecha')
          div(class=['ui', 'field'])
              label(for='hora')= 'Hora'
              input(type= 'time' name='hora' placeholder='Hora')
          div(class=['ui', 'field'])
              label(for='descripcion')= 'Descripción'
              input(type= 'text' name='descripcion' placeholder='Descripción')
          button(class=['ui', 'button', 'basic', 'black'])= 'Crear Reserva'
          div(class=['ui', 'message', 'error'])

      if info != undefined
        div(class=['ui', 'message', 'success'])
          i(class=['close', 'icon'])
          div(class='header')='Reserva registrada'
          p= info

  script(src='/javascripts/validacion.js')